body{
    background-image: url(geoback.jpg);
    background-size: cover;
}

html {
    background-color: #1C2536;
    color: white;
}

.name{
    color: black;
    text-align: center;
    background-color: #E3D6BC;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    margin: 20px 650px 50px 680px;
    border-radius: 10px 10px;
}

.who{
    color: black;
    text-align: center;
    background-color: #E3D6BC;
    padding-top: 0.5px;
    padding-bottom: 10px;
    margin: -40px 0px 50px 0px;
    border-radius: 10px 10px;
}
.who-line{
    margin: center;
    padding: 1px;
}

.where{
    color: black;
    text-align: left;
    background-color: #E3D6BC;
    padding-top: 0.5px;
    padding-bottom: 100px;
    margin: -40px 50% 50px 0px;
    border-radius: 10px 10px;
}
.where-line{
    margin: left;
    padding: 1px;

}

.what{
    color: black;
    text-align: center;
    background-color: #E3D6BC;
    padding-top: 0.5px;
    padding-bottom: 222px;
    margin: -927.5px 0px 5px 865px;
    border-radius: 10px 10px;
}
.what-line{
    margin: left;
    padding: 1px;
}
img{
    width: 300px;
}

.why{
    color: black;
    text-align: center;
    background-color: #E3D6BC;
    padding-top: 0.5px;
    padding-bottom: 1px;
    margin: 0px 0px 0px 0px;
    border-radius: 10px 10px; 
}

.why-line{
    margin: center;
    padding: 1px; 
}